body {
  text-align: center;
}

ol {
  display: inline-block;
  text-align: left;
  font-size: 14pt;
  border: 2px dashed black;
}

#header {
  margin-top: 5%;
  background-color: #aabd6d;
  color: #4d4d4d;
  height: 10px;
  width: 10px;
  position: relative;
}

#input-div {
  margin-top: 5%;
  background-color: #588ccd;
  font-size: 20pt;
  color: #4d4d4d;
  height: 10px;
  width: 10px;
  position: relative;
}

#answer-section {
  font-size: 14pt;
  margin-top: 5%;
  background-color: #cd5f42;
  color: #4d4d4d;
  height: 10px;
  width: 10px;
  position: relative;
}

#announce, #header-text, #form-div {
  display: none;
}

#start {
  margin-top: 10px;
}

#landing {
  background-color: #f2cf65;
  color: #4d4d4d;
  width: 100%;
  position: relative;
}

#landing p {
    font-size: 30pt;
}

#header-text p {
  padding: 10px;
  font-size: 18pt;
}
